<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Preview Layout</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{{ path '/stylesheets/pattern-library.css' }}">
</head>
<body>
	{{!-- BEGIN Icon Symbols --}}
	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
		<symbol viewBox="0 0 32 32" id="icon-example">
			<title>example</title>
			<path d="M24 19.999l-5.713-5.713 13.713-10.286-4-4-17.141 6.858-5.397-5.397c-1.556-1.556-3.728-1.928-4.828-0.828s-0.727 3.273 0.828 4.828l5.396 5.396-6.858 17.143 4 4 10.287-13.715 5.713 5.713v7.999h4l2-6 6-2v-4l-7.999 0z"></path>
		</symbol>
	</svg>
	{{!-- Usage
		<use href="#example" class="icon-xs"/></svg>
		<use href="#example" class="icon-s"/></svg>
		<use href="#example" class="icon-m"/></svg>
		<use href="#example" class="icon-l"/></svg>
		<use href="#example" class="icon-xl"/></svg>
	 --}}
	{{!-- END Icon Symbols --}}
	{{{ yield }}}
</body>
</html>